.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-container {
    width: 400px;
    height: auto;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 40px 31px 33px 31px;
}

.icon-container {
    font-size: 40px;
}

.preview-container .title {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: -0.035em;

    /* Gray 2 */

    color: #4F4F4F;
}

.uploaded-image {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 25px;
    border-radius: 12px;
}

.image-url-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 34px;
    background: #F6F8FB;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    margin-top: 25px;
}

.image-url-field {
    flex: 1;
    height: 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 12px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.035em;

    /* Gray 2 */

    color: #4F4F4F;
    text-overflow: ellipsis;
    background: transparent;
    border: 0;
    margin-left: 7px;
}

.copy-link-button {
    width: 74px;
    height: 30px;
    background: #2F80ED;
    border-radius: 8px;
    border: 0;
    margin-right: 2px;
    margin-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 12px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.035em;

    color: #FFFFFF;
}

.copy-link-button:hover {
    cursor: pointer;
}